 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Book Name">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Book Author</label>
            <input type="text" name="email" value="" placeholder="Author Name">
        </div>
        <div class="form-group">
            <label for="Price" class="text-light">Book Price</label>
            <input type="text" name="price" value="" placeholder="100">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Study</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Hosteler" >
                <label for="radio-2" class="radio-label">Hosteler</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Day Scholar" >
                <label for="radio-3" class="radio-label">Day Scholar</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Taken" >
                <label for="radio-4" class="radio-label">Taken</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Given" >
                <label for="radio-5" class="radio-label">Given</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>